.popOverWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.popOverContent {
	/* visibility: hidden; */

	/* Position */
	/* fixed, damit anderer Content nicht verdrängt wird und das Element fest in Sicht bleibt*/
	position: fixed;
	width: max-content;
	top: 80%;
	left: 50%;
	margin: auto;

	/* Rahmen */
	border-radius: 25px;
	border: 2px solid;
	border-color: var(--accent-2);
	padding: 10px;

	/* Farben */
	color: var(--primary-font-color);
	background-color: var(--primary-background-color);
}
