body {
	background-color: var(--secondary-background-color);
}

.site-wrapper {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 100dvh;

	> * {
		/* padding: calc(0.5rem + 2vw); */
		padding: clamp(8px, 0.5rem + 3vw, 32px);
	}
}

.site-header {
	/* Signalfarbe zum Debuggen */
	background-color: var(--temp-header-color);

	/* Tatsächliche Farbe */
	background-color: var(--primary-background-color);
	container-type: inline-size;
	container-name: head;

	position: relative;
}

.site-content {
	flex-grow: 1;
	max-width: 100%;
	width: 100%;
	margin-inline: auto;
	padding: 0px;

	/* @media (width >= 50rem) {
		grid-template-columns: 1fr 20rem;
	} */

	/* Signalfarbe zum Debuggen */
	background-color: var(--debug-green);

	/* Tatsächliche Farbe */
	background-color: var(--primary-background-color);
}

.site-footer {
	/*Signalfarbe zum Debuggen */
	background-color: var(--debug-blue);

	/* Tatsächliche Farbe */
	background-color: var(--secondary-background-color);
}
