@import '.\css\globals\queries.css';
@import '.\src\components\Menu\Menu.module.css';

.link {
	color: var(--accent-1);
	text-decoration: none;
	cursor: pointer;
	user-select: none;

	@media (--large) {
		font-size: 3rem;
	}
	@media (--medium) {
		font-size: 2rem;
	}
	@media (--small) {
		font-size: 1.3rem;
	}

	&:hover {
		color: var(--accent-2);
	}

	&:focus {
		color: var(---accent-2);
	}
}

.menuEntry {
	display: flex;
	flex-direction: column;
}

.subMenu {
	padding-top: 0.5rem;
	margin-top: 1rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: var(--primary-background-color-opaque);
	border-left: 2px solid;
	/* border-bottom: 2px solid; */
	border-color: var(--accent-1);
	position: absolute;
	@media (--large) {
		transform: translateY(50px);
	}
	@media (--medium) {
		transform: translateY(35px);
	}
	@media (--small) {
		transform: translateY(20px);
	}
}
