@custom-media --large (width >= 50rem);
@custom-media --medium (32rem < width < 50rem);
@custom-media --small (width < 32rem);
.menu {
	color: var(--primary-font-color);
	list-style: none;
	display: flex;
	display: absolute;
	padding-left: 0px;
	margin-left: 0px;

	@media (--large) {
		gap: 3rem;
	}
	@media (--medium) {
		gap: 2rem;
	}
	@media (--small) {
		gap: 1.3rem;
	}
}
