@import '.\css\globals\queries.css';

.link {
	color: var(--accent-1);
	text-decoration: none;
	cursor: pointer;
	user-select: none;

	@media (--large) {
		font-size: 2rem;
	}
	@media (--medium) {
		font-size: 1rem;
	}
	@media (--small) {
		font-size: 1.3rem;
	}

	&:hover {
		color: var(--accent-2);
	}

	&:focus {
		color: var(---accent-2);
	}
}
