/* $primary-background-color: rgb(34, 34, 34);
$primary-font-color: aliceblue; */

:root {
	/* Farben definieren */
	--dark-grey: rgb(34, 34, 34);
	--dark-grey-opaque: rgba(50, 50, 50, 0.95);
	--lighter-grey: rgb(50, 50, 50);
	--white: rgb(255, 255, 255);
	--violett: rgb(125, 0, 255);
	--dark-red: rgb(120, 0, 0);
	--dark-green: rgb(0, 120, 0);
	--dark-blue: rgb(0, 0, 120);
	--neon-pink: rgb(220, 35, 115);
	--neon-green: rgb(50, 205, 115);

	/* Funktionen definieren */
	--primary-background-color: var(--dark-grey);
	--secondary-background-color: var(--lighter-grey);
	--primary-background-color-opaque: var(--dark-grey-opaque);
	--primary-font-color: var(--white);
	--active-link-color: var(--violett);
	--accent-1: var(--neon-pink);
	--accent-2: var(--neon-green);

	/* Debug Farben */
	--debug-red: var(--dark-red);
	--debug-green: var(--dark-green);
	--debug-blue: var(--dark-blue);
}
