/* @import 'css\globals\colors.css'; */

.home {
	color: var(--primary-font-color);
	user-select: none;
}

.title {
	font-size: 3rem;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

	@media (orientation: landscape) {
		padding: 1rem;
		padding-left: 5rem;
		padding-top: 3rem;
		margin: 1rem;
	}

	@media (orientation: portrait) {
		padding: 1rem;
	}
}

.article {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 2rem;
	text-align: end;

	@media (orientation: landscape) {
		padding-right: 10rem;
		margin: 10rem;
	}

	@media (orientation: portrait) {
		padding: 1rem;
	}

	> a {
		color: var(--accent-1);
		text-decoration: none;

		&:hover {
			color: var(--accent-2);
		}

		&:focus {
			color: var(---accent-2);
		}
	}
}

.decoration {
	color: var(--accent-2);
	font-weight: bold;
}
