.start {
	color: var(--primary-font-color);
}

@media (width >= 50rem) {
	.box {
		height: 10rem;
		aspect-ratio: 1 / 1;
		border: 2px solid black;
		background: var(--debug-red);
	}
}
@media (32rem < width < 50rem) {
	.box {
		height: 10rem;
		aspect-ratio: 1 / 1;
		border: 2px solid black;
		background: var(--debug-blue);
	}
}
@media (width <= 32rem) {
	.box {
		height: 10rem;
		aspect-ratio: 1 / 1;
		border: 2px solid black;
		background: var(--debug-green);
	}
}
